<div class="homepage">
    <nav class="homepage__nav">
        <div class="homepage__nav__title">
            <h1 class="museum">Museum </h1>
            <h4>at home</h2>
        </div>
        <div>
            <a class="links" href="/login">Log In</a>
            <a class="links" href="/signup">Sign Up</a>
        </div>
    </nav>
    <main class="homepage__body">

    </main>
</div>