<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Museum at Home</title>
</head>

<body>
    {{{body}}}
    <footer class="footer">
        <div class="footer__author">Web app created by Rich Alossi and Alex Pliakas</div>
        <div>
            <p>Technologies used for this page:</p>
            <ul>
                <li class="footer__technology">Node.js</li>
                <li class="footer__technology">Handlebars</li>
                <li class="footer__technology">Mongoose/MongoDB</li>
                <li class="footer__technology">Express.js</li>
            </ul>
        </div>
    </footer>

</body>

</html>