<!DOCTYPE html>
<html lang="en">

    <head>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project 2</title>
    </head>

    <body>
        <h1>Testing OUTER layout.hbs page</h1>
        {{{body}}}
        <footer class="footer">
            <div class="footertext">Web created by Rich Alossi and Alex Pliakas</div>
            <div>
                <p>Technologies used for this page:</p>
                <ul>
                    <li>NodeJS</li>
                    <li>Handlebars</li>
                    <li>Mongoose</li>
                    <li>Express</li>
                </ul>
            </div>
        </footer>
    </body>

</html>