<div class="login-container">
    <form action="/login" method="POST">
        <label for="login-username">Enter your username: </label>
        <input type="text" name="username" id="login-username">
        <label for="login-password">Enter your password: </label>
        <input type="password" name="password" id="login-password">
        <button type="submit">Submit</button>
    </form>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
</div>