<div class="signup-form-container">
    <form action="/signup" method="POST" class="signup-form" id="signupform">
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" id="firstName" required>
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" id="lastName" required>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required>
        <label for="email">Email address: </label>
        <input type="email" id="email" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,20}$">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>
        <label for="favArtist">Choose your favorite Dutch artist: </label>
        <select name="favArtist" id="favArtist" form="signupform">
            <option name="favArtist" id="favArtist" value="random">Random Artist</option>
            <option name="favArtist" id="favArtist" value="lizzyansingh">Lizzy Ansingh</option>
            <option name="favArtist" id="favArtist" value="rachelruysch">Rachel Ruysch</option>
            <option name="favArtist" id="favArtist" value="judithleyster">Judith Leyster</option>
            <option name="favArtist" id="favArtist" value="johannesvermeer">Johannes Vermeer</option>
            <option name="favArtist" id="favArtist" value="rembrandtvanrijn">Rembrandt van Rijn</option>
            <option name="favArtist" id="favArtist" value="franshals">Frans Hals</option>
            <option name="favArtist" id="favArtist" value="mariasibyllamerian">Maria Sibylla Merian</option>
            <option name="favArtist" id="favArtist" value="magdalenavandepasse">Magdalena van de Passe</option>
            <option name="favArtist" id="favArtist" value="clarapeeters">Clara Peeters</option>
            <option name="favArtist" id="favArtist" value="vincentvangogh">Vincent van Gogh</option>
            <option name="favArtist" id="favArtist" value="jansteen">Jan Steen</option>
            <option name="favArtist" id="favArtist" value="hieronymusbosch">Hieronymus Bosch</option>
            <option name="favArtist" id="favArtist" value="pieterclaesz">Pieter Claesz</option>
        </select>
        <button class="submit-button" type="submit">Submit</button>
    </form>
</div>