* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup-form-container {
  max-width: 50vw;
}

.signup-form {
  display: flex;
  flex-direction: column;
}
.signup-form input {
  margin-bottom: 1rem;
  padding: 0.3rem;
}
.submit-button {
  padding: 1rem 0rem;
}

.homepage-links {
  display: flex;
  flex-direction: column;
}
.login-container {
  max-width: 50vw;
}
.login-container form {
  display: flex;
  flex-direction: column;
}
.login-container input {
  margin-bottom: 1rem;
  padding: 0.3rem;
}
.artwork {
  max-width: 200px;
}
.artwork-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
