* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

html {
  min-height: 100vh;
  font-size: 10px;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto min-content;
      grid-template-rows: auto -webkit-min-content;
      grid-template-rows: auto min-content;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

.view--centered-with-image {
  background-image: url("../image/SK-C-5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth {
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  padding: 18px;
}

.auth .links {
  font-size: 1.8rem;
  margin-bottom: 18px;
  text-align: end;
}

.auth .links .login-link {
  padding: 5px;
  border-right: 3px solid #5c2018;
}

.auth .links a {
  text-decoration: none;
  color: #5c2018;
}

.auth .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 36px;
  width: 400px;
}

.auth .login-form .login-input {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
}

.auth .signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 36px;
  width: 400px;
  min-width: 200px;
}

.auth .signup-form input {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
}

.auth .signup-form select {
  width: 100%;
  text-align: center;
}

.auth .submit-button {
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  margin-top: 10px;
  background-color: #bc4639;
  color: #f3e0dc;
  border: none;
}

.auth .submit-button:hover {
  background-color: #f3e0dc;
  color: #bc4639;
  border: 1px solid #bc4639;
}

.auth .error {
  text-align: center;
  background-color: #9c3030;
  padding: 15px 20px;
  margin: 20px 60px;
  color: #f3e0dc;
}

.homepage {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh auto;
      grid-template-rows: 10vh auto;
}

.homepage__navigation {
  background-color: #BC4639;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 90px;
}

.homepage__navigation .title {
  color: #f3e0dc;
  font-size: 3rem;
  text-align: center;
}

.homepage__navigation .links {
  text-decoration: none;
  color: #f3e0dc;
  background-color: #4285F4;
  padding: 10px 15px;
  margin-left: 20px;
}

.homepage__navigation .links:hover {
  background-color: #f3e0dc;
  color: #4285F4;
  border: 2px solid #4285F4;
}

.homepage__body {
  background-image: url("../image/collage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5c2018;
  color: #f3e0dc;
  font-size: 1.3rem;
  padding: 15px;
}

.footer__author {
  width: 300px;
}

.footer__technology {
  font-size: 1.1rem;
}
/*# sourceMappingURL=style.css.map */